<h1>Scheduled Transactions</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Account</th>
      <th>Payee</th>
      <th>Category</th>
      <th>Inflow</th>
      <th>Outflow</th>
      <th>Done</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scheduled_transactions.each do |scheduled_transaction| %>
      <tr>
        <td><%= scheduled_transaction.date %></td>
        <td><%= scheduled_transaction.account.name %></td>
        <td><%= scheduled_transaction.payee.name %></td>
        <td><%= scheduled_transaction.category.name %></td>
        <td><%= scheduled_transaction.inflow %></td>
        <td><%= scheduled_transaction.outflow %></td>
        <td><%= scheduled_transaction.done %></td>
        <td><%= link_to 'Show', scheduled_transaction %></td>
        <td><%= link_to 'Edit', edit_scheduled_transaction_path(scheduled_transaction) %></td>
        <td><%= link_to 'Destroy', scheduled_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scheduled Transaction', new_scheduled_transaction_path %>
