<h1>Groups</h1>

<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td>
          <div class="btn-group btn-group-sm">
            <%= link_to 'Show', group, class: 'btn btn-outline-secondary' %>
            <%= link_to 'Edit', edit_group_path(group), class: 'btn btn-outline-secondary' %>
            <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path, class: 'btn btn-outline-primary' %>
