
<%= simple_form_for(@category) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :budgeted %>
    <%= f.input :activity %>
    <%= f.input :balance %>
    <%= f.input :count_in_the_statistics %>
    <%= f.association :group %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
