<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Budgeted:</strong>
  <%= @category.budgeted %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @category.activity %>
</p>

<p>
  <strong>Balance:</strong>
  <%= @category.balance %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
