<!DOCTYPE html>
<html>
  <head>
    <title>Budget</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <div class="container-fluid">
      <!-- <h1><%= link_to @current_month.month.strftime("%B/%Y"), root_path %></h1>
      <h2>To be budgeted: <%= number_to_currency @current_month.to_be_budgeted %></h2> -->
      <h1><%= link_to 'Budget', root_path %></h1>
      <div>
        <%= link_to 'Account', accounts_path %>
        <%= link_to 'Categories', categories_path %>
        <%= link_to 'Groups', groups_path %>
        <%= link_to 'Months', payees_path %>
        <%= link_to 'Payees', payees_path %>
        <%= link_to 'Transactions', transactions_path %>
        <%= link_to 'Transfers', transfers_path %>
      </div>
      <hr>
      <div class="row">
        <div class="col-3">
          <h3>Accounts</h3>
          <table class="table table-bordered table-sm">
            <thead>
              <tr>
                <th>Conta</th>
                <th>Saldo</th>
              </tr>
            </thead>
            <tbody>
              <% Account.order(name: :asc).each do |acc| %>
                <tr>
                    <td>
                      <%= link_to acc.name, transactions_account_path(acc) %>
                      <%= link_to '+', new_transaction_path(account_id: acc), class: 'btn btn-outline-secondary btn-sm float-right' %>
                    </td>
                    <td class="text-right"><%= number_to_currency acc.balance %></td>
                </tr>
              <% end %>
            </tbody>
          </table>      
        </div>

        <div class="col-9">
            <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
