<h1>Accounts</h1>
<div class="table-responsive">
  <table class="table table-bordered table-notbreakline">
    <thead>
      <tr>
        <th>Name</th>
        <th>Account type</th>
        <th>Balance</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= account.name %></td>
          <td><%= account.account_type.titleize %></td>
          <td class="text-right"><%= number_to_currency account.balance %></td>
          <td>
            <div class="btn-group btn-group-sm">
              <%= link_to 'Show', account, class: 'btn btn-outline-secondary' %>
              <%= link_to 'Edit', edit_account_path(account), class: 'btn btn-outline-secondary' %>
              <%= link_to 'Destroy', account, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  
</div>

<br>

<%= link_to 'New Account', new_account_path, class: 'btn btn-outline-primary' %>
