<h1><%= @account.name %>  Transactions</h1>

<div class="action-bar">
  <%= link_to 'New Transaction', new_transaction_path(account_id: @account), class: 'btn btn-outline-primary btn-sm' %>
  <%= link_to 'New Scheduled Transaction', new_scheduled_transaction_path(account_id: @account), class: 'btn btn-outline-primary btn-sm' %>
  <%= link_to 'New Scheduled Transaction by installments', new_by_installments_scheduled_transactions_path(account_id: @account), class: 'btn btn-outline-primary btn-sm' %>

  <% unless @account.credit_card?%>
    <div class="dropdown" style="display: inline-block">
      <a class="btn btn-outline-primary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Transfer
      </a>

      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%= link_to "From #{@account.name}", new_transfer_path(account_from_id: @account), class: 'dropdown-item' %>
        <%= link_to "To #{@account.name}", new_transfer_path(account_to_id: @account), class: 'dropdown-item' %>

      </div>
    </div>
  <% end %>

  <%= link_to 'Record Payment', new_transfer_path(account_to_id: @account, value: @account.balance.abs), class: 'btn btn-outline-primary btn-sm' if @account.credit_card? %>
</div>

<table class="table table-bordered table-sm">
  <thead>
    <tr>
      <th>Date</th>
      <th>Payee</th>
      <th>Category</th>
      <th>Note</th>
      <th>Amount</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

    <% @scheduled_transactions.each do |month,scheduled_transactions| %>
      <% scheduled_transactions.each do |scheduled_transaction|%>
        <tr style="background-color: #f0f0f0; color: #888888">
          <td><%= scheduled_transaction.date.strftime("%d/%m/%Y") %></td>
          <td><%= scheduled_transaction.payee.name %></td>
          <td><%= scheduled_transaction.category.name %></td>
          <td><%= scheduled_transaction.note %></td>
          <td class="text-right"><%= number_to_currency scheduled_transaction.amount %></td>
          <td>
            <div class="btn-group btn-group-sm">
              <%= link_to 'Enter now', enter_now_scheduled_transaction_path(scheduled_transaction), class: 'btn btn-outline-success'%>
              <%= link_to 'Edit', edit_scheduled_transaction_path(scheduled_transaction), class: 'btn btn-outline-secondary' %>
              <%= link_to 'Destroy', scheduled_transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-secondary' %>
            </div>
          </td>
        </tr>
      <% end %>
      <tr style="background-color: #f0f0f0; color: #888888">
        <th colspan="4" class="text-center"><%= month %></th>
        <th class="text-right"><%= number_to_currency scheduled_transactions.inject(0.0){|sum,st| sum + st.amount} %></th>
        <th></th>
      </tr>
    <% end %>

    <% @transactions.each do |transaction| %>
        <tr>
          <% if transaction.is_a? Transaction %>
            <td><%= transaction.date.strftime("%d/%m/%Y") %></td>
            <td><%= transaction.payee.name %></td>
            <td><%= transaction.category.name %></td>
          <% elsif transaction.is_a? Transfer %>
            <td><%= transaction.created_at.strftime("%d/%m/%Y") %></td>
            <td><%= transaction.account_to == @account ? transaction.account_from.name : transaction.account_to.name  %></td>
            <td>🔁 Transfer</td>
          <% end %>
          <td><%= transaction.note %></td>
          <td class="text-right <%= value_color transaction.amount %>"><%= number_to_currency transaction.amount %></td>
          <td>
            <div class="btn-group btn-group-sm">
              <!--<%= link_to 'Show', transaction, class: 'btn btn-outline-secondary' %>-->
              <!-- <%= link_to 'Edit', edit_transaction_path(transaction), class: 'btn btn-outline-secondary' %> -->
              <%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
            </div>
          </td>
        </tr>
    <% end %>
  </tbody>
</table>
